target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE ###
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

### OS ###
.DS_Store
Thumbs.db

### Spring Boot ###
application-local.properties
application-prod.properties
